.dummy{
	color : black;
}

.filterSection{
    border-bottom: 0.5rem;
    padding-bottom: 1rem;
    border:1px solid #C9C9C9;
    background: #F3F3F3;
}
.filterButton{
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
}

.slide-in {
    max-height: 1000px; 
    transform: translateX(0px);
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    position: relative;
    animation: animateleft 0.4s;
    visibility: collapse;
}
.slide-out {
    max-height: 0;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    position: relative;
    animation: animateright 0.4s;
}

.button-container {
    transition: max-height 0.5s ease;
}

.heightsize{
     height: 3rem;
}