.card_Design{
    padding: .5rem;
    display: flex;
    justify-content: center;
    background: #fff;
    overflow: initial;
    height: 100%;
    overflow-x: hidden;
}
.column_heading{
    padding: 0.25rem 0.25rem;
    font-size: 16px;
    background: #0176D3;
    color: #fff;
    margin-bottom: 0.5rem;
}
.stageContainer{
    float:left;
    border: 2px solid #d8dde6;
    margin: 0.05rem;
    border-radius: .25rem;
}
.slds-text-heading--small{
    font-size: 8 px;
    text-align: left;
    align-items:left ;
}
.slds-tabs--path__title{
    text-align: left;
}
.stage-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}
.spacing{
    padding-top: 0.15rem;
}
.stage-name {
    font-size: 13 px;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
}
.smallHeading{
    font-size: 12px;
}
.record-count {
    font-size: 13 px;
    line-height: 16px;
    align-items: center;
}
.full-width {
    width: 100%;
}
.thirty-width {
    width: 25%;
}
.seventy-width {
    width: 75%;
}
.container {
    display: flex;
    height: 100%;
}
.right-end {
   position: relative;
    top: 1.5rem;
    right: 1rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
}
.right-end:hover {
    cursor:grab;
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.right-end-dash{
    position: relative;
    top: 1.5rem;
    right: 1rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    background-color: lightgrey;
}
.borderLine{
    border-right: var(--lwc-colorBorder, rgb(229, 229, 229)) var(--lwc-borderWidthThin, 1px) solid;
    /*overflow-x: auto; */
}
.filterSection{
    border-bottom: 0.5rem;
    padding-bottom: 1.5rem;
    border:1px solid #C9C9C9;
    background: #F3F3F3;
}
.bgcolor{
    background: #0176D3;
    padding: 0.25rem;
    border-radius: 1rem;
    color: white;
}
.slds-button__icon{
    margin-left: 2px;
    margin-right: 2px;
}

.heightsize{
    height: 3rem;
}

.toggle-btn {
    cursor: pointer;
}

.button-container {
    transition: max-height 0.5s ease;
}

.button {
    padding: 10px 20px;
    background-color: #0176D3;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.slide-in {
    max-height: 1000px; /* Adjust to your content's height */
    transform: translateX(0px);
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    position: relative;
    animation: animateleft 0.4s;
    visibility: collapse;
}

.slide-out {
    max-height: 0;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    position: relative;
    animation: animateright 0.4s;
}
.padding{
    padding-bottom: 4rem;
    position: relative;
    left: -15rem;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
.left-end {
    /*position: absolute;*/
    top: 1.65rem;
    left: 1rem;
}
.left-end:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.fullcontainer{
    height: 100%;
    bottom: 0;
    top: 0;
    position: relative;
    background: white;
}
.maxheight{
    height: 100%;
}
.listHidden{
    overflow: auto;
    height: 84%;
}
.hideCharts{
    visibility: hidden;
}
.showCharts{
    visibility: visible;
}
.boxLine{
    border:1px solid #C9C9C9;
    border-bottom: none;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 7, 7, 0.5); /* background color while spinner onscreen */
  z-index: 15000; /* set z-index always high */
}

.spinshow::after {
  position: absolute;
  content: "Please wait while loading";
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
}