.slds-page-header.flexipageHeader { 
    display: none;
}
.fc-toolbar.fc-header-toolbar{
    margin-bottom: 0em !important;
}

.lessopac{
    z-index: 1;
}
/*.fullcalendarjs{
    padding:2px;
}*/
.calendarbody{
    height:48rem;
  }

.color-box {
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: inline-block;
    flex-shrink: 0; 
}